<nav class="light-blue lighten-1" role="navigation">
  <div class="nav-wrapper container">
    <%= link_to 'KeyHub', root_path, id: 'logo-container', class: 'brand-logo' %>
    <ul class="right hide-on-med-and-down">
      <% if signed_in? %>
        <li>
          <%= link_to current_user.email, current_user %>
        </li>
      <% end %>
      <li>
        <%= link_to 'Projects', projects_path %>
      </li>
      <li>
        <% if signed_in? %>
          <%= link_to "Sign out", sign_out_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", sign_in_path %>
        <% end %>
      </li>
    </ul>

    <ul id="nav-mobile" class="side-nav">
      <li>
        <% if signed_in? %>
          <%= current_user.email %>
          <%= button_to "Sign out", sign_out_path, method: :delete %>
        <% else %>
          <%= link_to "Sign in", sign_in_path %>
        <% end %>
      </li>
    </ul>
    <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
  </div>
</nav>
